<!DOCTYPE html>
<html>
<head>
  <title>2FA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='2fa.css') }}">
</head>
<body>
  <form method="POST" action="/fa2">
    <h1>2FA</h1>
    <input type="text" name="ver_code" placeholder="Enter the code">
    <button type="submit" name="submit_button" value="submit" style="font-weight: bold;">Submit</button>
    <button type="submit" name="submit_button" value="retry_code" style="width:45%; height:20px; ">Send again</button>
  </form>
</body>
</html>
